<div class="container row " >
    <div
      *ngFor="let val of merchandise"
      class="container-fluid col-lg-3 col-md-6 col-sm-12
      d-flex justify-content-center" style="margin-bottom: 5vh;"
    >
      <div class="card bg-light" style="width: 18rem; height: 100%;" >
        <img src="{{val.productImage}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h2>{{val.productName}}</h2>
          <p class="card-text">
            {{val.productDetails}}
          </p>
          <p>Tickets: {{val.productPrice | currency}}</p>
          <button class="btn btn-outline-warning" (click)="addToCart(val)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
  