/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    background: pink;
    font-family: 'Zen Loop', cursive;
    font-size: xx-large;
}




input{
    width: 300px;
    margin-left: 3vw;
    margin-bottom: 1vh;
}
label{
    width: 50px;
}


.container {
    margin-left: 13vw;
}