<nav class="navbar navbar-expand-lg navbar-light" 
style="background: rgb(240, 189, 197);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: xx-large">OurBlog</a>
      <p>
        <a class="navbar-brand" routerLink="/cart" style="font-size: xx-large">Checkout</a>
      </p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/merch">Merch</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogpage">Blog</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
